<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Recipe App">
    <meta name="author" content="Sally Park">
    <title>Kennedy Family Recipe App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

    <h1>Welcome to Sally's Recipe App!</h1>

    This site describes my favorite recipes!

    <h2>Breakfast Recipes</h2>


    <h2>Lunch Recipes</h2>


    <h2>Dinner Recipes</h2>


    <h2>Dessert Recipes</h2>

    <h3>All Recipes</h3>

    <table style="width:100%">
      <tr>
        <td>Title</td>
        <td>Description</td>
        {% for recipe in recipes %}
        <tr>
          <td>{{ recipe.recipe_title }}</td>
          <td>{{ recipe.recipe_description }}</td>
        </tr>
        {% endfor %}
      </tr>
    </table>

  </body>
</html>
